body {
    background-color: rgb(206, 205, 205);
    margin:0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    text-align: center;
    color: black;
    padding:20px;
    background-color:cornflowerblue;
}
a {
    color:black;
    text-decoration: none;
    border: black solid 1px;
    padding:2px;
}
.maior{
    border:solid black 1px;
    width:70%;
    height:840px;
    margin-left:150px;
    background-color: white;
}
.se {
    display:inline-block;
    float:right;
    width:419px;
    margin-top:1px;
    height:840px;
    background-color: ivory;    
}
p {
    text-align: justify;
    padding:20px;
}
h3 {
    text-align: center;
}
.i1 {
    display:inline-block;
}
.s1{
    margin-top: 0px;
    color:black;
}
h2 {
    text-align: center;
    width:97.5%;
    background-color: ivory;
    margin-top:0px;
    margin-bottom: 0px;
    padding:15px;
    display:inline-block;
    float:left;

}
.s2 {
    width:47.59%;
    border: solid black 1px;
    background-color: honeydew;
    display:inline-block;
    float:left;
    text-align: center;
    padding:15px;
}
.s3 {
    width:47.59%;
    border: solid black 1px;
    background-color: honeydew;
    display:inline-block;
    float:left;
    text-align: center;
    padding:15px;
}
.conclusao {
    display:inline-block;
    text-align:justify;
    float:left;
    padding:20px;
    width:96.9%;
    background-color: honeydew;
    border:black solid 1px;
    height:115px;
    font-size:16.5px;
}
.i2 {
    width:2%;
}
footer {
    clear:left;
    margin-left:150px;
}
